# config.yml

backend:
  name: git-gateway
  repo: UniverseDevGroup/pokeworld-website
  branch: master # Branch to update (optional; defaults to master)
media_folder: 'assets/uploads'
collections:
  - name: 'blog'
    label: 'Blog'
    folder: '_posts/'
    fields:
      - { name: Title }